.action-bar {
  display: flex;
  flex-wrap: nowrap;
}

.action-bar > .btn {
  width: 8rem;
}

.action-bar > .btn + .btn {
  margin-left: 0.5rem;
}

w-100 {
  width: 100%;
}

h-100 {
  height: 100%;
}
